.carousel-img {
  flex: 0 0 100%;
  transition: all 200ms ease-in-out;
}
.carousel-item-contanier {
  display: flex;
  height: 78vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
}
.carousel-slider #carousal-nav-btns {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1rem;
  padding: 1rem 1rem;
}
#carousal-nav-btns svg {
  background-color: transparent;
}
.carousel-slider #carousal-nav-btns :hover svg {
  animation: squish 400ms ease-in-out;
  cursor: pointer;
}
.carousel-slider #carousal-nav-btns:hover  {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
@keyframes squish {
  50% {
    scale: 1.3;
  }
}
.indicator-btn-container{
  transform: translateY(-100%);
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 50%;
}

.indicator-btn-container .indicator-btn{
  all: unset;
  margin-inline: .2rem;
  background-color: transparent;
}

.indicator-btn svg{
  background-color: transparent;
}


