.carousel-img {
  flex: 0 0 100%;
  transition: all 500ms;
}
.carousel-item-contanier {
  display: flex;
  height: 78vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  /* z-index: -1; */
}
.carousel-slider #carousal-nav-btns {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1rem;
  padding: 1rem 1rem;
  /* background-color: aqua; */
  transition: all 200ms;
}

#carousal-nav-btns svg {
  background-color: transparent;

}

.carousel-slider :hover svg {
  animation: squish 400ms ease-in-out;
}

.carousel-slider #carousal-nav-btns:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  
}

@keyframes squish {
  50% {
    scale: 1.3;
  }
}

