@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;500;600&display=swap");
:root {
  --maroon: #900c3f;
  --lightred: #c70039;
  --orange: #f94c10;
  --yellow: #f8de22;
  --primary: #30c2ec; 
  --primary-light: #c0ecf9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}
